* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
textarea {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

a {
    background-color: transparent;

    &:active, &:hover {
        outline: 0;
    }
}

button {
    background: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: normal;
    -webkit-appearance: none;
}
