@import "../_support/support";

// Grid

.g-row {
    @include clearfix;
    float: none;
    padding-left: $spacing-unit*2;
    padding-right: $spacing-unit*2;
    position: relative;

    @include breakpoint(md, up) {
        padding-left: $spacing-unit*3;
        padding-right: $spacing-unit*3;
    }

    @include breakpoint(lg, up) {
        padding-left: $spacing-unit*5;
        padding-right: $spacing-unit*5;
    }

    @include breakpoint(xxl, up) {
        padding-left: $spacing-unit*8;
        padding-right: $spacing-unit*8;
    }
}

.g-row--flush {
    padding-left: 0;
    padding-right: 0;

    [class*='g-col']:first-child {
        padding-left: 0;
    }

    [class*='g-col']:last-child {
        padding-right: 0;
    }
}

[class*='g-col'] {
    float: left;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;

    @include breakpoint(md, up) {
        padding-left: 12px;
        padding-right: 12px;
    }

    @include breakpoint(lg, up) {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.g-col--centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

@each $name in map-keys($breakpoints) {
    @include breakpoint(#{$name}, up) {
        @for $i from 1 through $grid-columns {
            .g-col-#{$i}\@#{$name} {
                width: percentage($i / $grid-columns);
            }
        }
    }
}

@each $name in map-keys($breakpoints) {
    @include breakpoint(#{$name}, up) {
        @for $i from 0 through $grid-columns {
            .g-col-offset-#{$i}\@#{$name} {
                margin-left: percentage($i / $grid-columns);
            }

            .g-col-offset-padding-#{$i}\@#{$name} {
                padding-left: percentage($i / $grid-columns);
            }
        }
    }
}


// Block grids

[class*='g-block'] {
    @include clearfix;

    .g-block-item {
        display: inline-block;
        height: auto;
        padding-left: $spacing-unit*4;
        padding-right: $spacing-unit*4;

        @include breakpoint(md, down) {
            padding-left: $spacing-unit*2;
            padding-right: $spacing-unit*2;
        }
    }
}

.g-block--flush {
    margin-left: -$spacing-unit*4;
    margin-right: -$spacing-unit*4;

    @include breakpoint(md, down) {
        margin-left: -$spacing-unit*2;
        margin-right: -$spacing-unit*2;
    }
}

@each $name in map-keys($breakpoints) {
    @include breakpoint(#{$name}, up) {
        @for $i from 2 through $block-grid-max-columns {
            .g-block-#{$i}\@#{$name} {
                .g-block-item {
                    width: 100%/$i;
                }
            }
        }
    }
}


// Max Widths

.body-max-width {
    max-width: $body-max-width;
    margin-left: auto;
    margin-right: auto;
}
